<?xml version="1.0"?>


<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="TotalPay_Gateway_init" translate="label" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                <frontend_model>TotalPay\Gateway\Block\Adminhtml\System\Config\Fieldset\Init</frontend_model>
            </group>
            <group id="TotalPay_Gateway" translate="label comment" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>TotalPay</label>
                <fieldset_css>complex</fieldset_css>
                <comment>Accept payments through TotalPay Payment Platform</comment>
                <include path="TotalPay_Gateway::system/method_checkout.xml"/>
            </group>
        </section>
    </system>
</config>
