<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="klever_brandsync" translate="label" sortOrder="500" showInDefault="1" showInWebsite="0" showInStore="0">
            <label>Brand Sync</label>
            <tab>general</tab>
            <resource>Magento_Config::config</resource>
            <group id="general" translate="label" sortOrder="10" showInDefault="1">
                <label>General Settings</label>
                <field id="enable_cron" translate="label comment" type="select" sortOrder="10" showInDefault="1">
                    <label>Enable Daily Cron Sync</label>
                    <comment>Auto-sync new brands and patterns daily at 3 AM. Default: disabled.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
