<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <klever_brandsync>
            <general>
                <enable_cron>0</enable_cron>
            </general>
        </klever_brandsync>
    </default>
</config>
