<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_postdispatch_checkout_cart_updatePost">
        <observer name="klever_collect_totals_after_cart_update"
                  instance="Klever\CustomCart\Observer\CollectTotalsAfterCartUpdate" />
    </event>
</config>