<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <klever_vehicle>
            <general>
                <enabled>1</enabled>
                <default_region></default_region>
                <cache_ttl>86400</cache_ttl>
            </general>
        </klever_vehicle>
    </default>
</config>
