<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <mst_report>
            <export_csv>
                <format_data>1</format_data>
            </export_csv>
        </mst_report>
    </default>
</config>
