<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_payment_place_end">
        <observer name="totalpay_checkout_sales_order_payment_place_end" instance="TotalPay\Gateway\Model\Observer\SalesOrderPaymentPlaceEnd"/>
    </event>

    <event name="controller_front_send_response_before">
        <observer name="totalpay_checkout_controller_front_send_response_before" instance="TotalPay\Gateway\Model\Observer\ControllerFrontSendResponseBefore"/>
    </event>
</config>
